In [2]:
# importing the dataset
import pandas
import numpy
from sklearn import preprocessing

In [3]:
df = pandas.read_csv('adult.csv')

In [4]:
df = df.drop(['fnlwgt', 'educational-num'], axis=1)

In [5]:
#missing values
col_names = df.columns

for c in col_names:
    df = df.replace("?", numpy.NaN)
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [11]:
df.replace(['Divorced', 'Married-AF-spouse',
            'Married-civ-spouse', 'Married-spouse-absent',
            'Never-married', 'Separated', 'Widowed'],
           ['divorced', 'married', 'married', 'married',
            'not married', 'not married', 'not married'], inplace=True)

category_col = ['workclass', 'race', 'education', 'marital-status', 'occupation',
                'relationship', 'gender', 'native-country', 'income']

#first,i applied discretization on categorical data, and then i will apply a label encoder
labelEncoder = preprocessing.LabelEncoder()
mapping_dict = {}
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])

    le_name_mapping = dict(zip(labelEncoder.classes_,
                               labelEncoder.transform(labelEncoder.classes_)))

    mapping_dict[col] = le_name_mapping
#print(mapping_dict)
df.head(10)

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,9,4,1,1,4,1,2174,0,40,39,0
1,50,6,9,2,4,0,4,1,0,0,13,39,0
2,38,4,11,0,6,1,4,1,0,0,40,39,0
3,53,4,1,2,6,0,2,1,0,0,40,39,0
4,28,4,9,2,10,5,2,0,0,0,40,5,0
5,37,4,12,2,4,5,4,0,0,0,40,39,0
6,49,4,6,3,8,1,2,0,0,0,16,23,0
7,52,6,11,2,4,0,4,1,0,0,45,39,1
8,31,4,12,4,10,1,4,0,14084,0,50,39,1
9,42,4,9,2,4,0,4,1,5178,0,40,39,1

In [28]:
#Now, i seperating the data on train and test datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = df.values[:, 0:12]
Y = df.values[:, 12]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

In [29]:
#Build the DecisionTreeClassifier model
dt_clf_gini = DecisionTreeClassifier(criterion = "gini",
                                     random_state = 100,
                                     max_depth = 5,
                                     min_samples_leaf = 5)

dt_clf_gini.fit(X_train, y_train)
y_pred_gini = dt_clf_gini.predict(X_test)

print ("Decision Tree using Gini Index\nAccuracy is ",
       accuracy_score(y_test, y_pred_gini)*100 )

Decision Tree using Gini Index
Accuracy is  83.13031016480704

In [33]:
col_names

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [31]:
import pickle
with open('model_pkl', 'wb') as files:
    pickle.dump(dt_clf_gini, files)